@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}

.animationLeft {
    animation: moveLeft 1s infinite;
    transform: scaleX(-1); /* Flip the image horizontally */
}
@keyframes moveLeft {
    0% {
        transform: scaleX(-1) translateX(0);
    }
    50% {
        transform: scaleX(-1) translateX(-10px);
    }
    100% {
        transform: scaleX(-1) translateX(0);
    }
}